@use "../../../global-styles/styles/pallete.scss" as pallete;
@use "../../../global-styles/styles/mixins.scss" as mix;

.home-page {
  $color-pink: pallete.get-color(primary, color-b);
  $color-blue: pallete.get-color(primary, color-c);
  $color-cyan: pallete.get-color(primary, color-d);
  $color-yellow: pallete.get-color(primary, color-e);

  margin: 0 auto;
  width: 375px;
  display: flex;
  flex-direction: column;

  & &__description-container {
  margin: 48px 16px 8px 16px;
  }

  & &__description-title {
    margin: 0;
  }

  & &__description-content {
    margin-top: 16px;
    font: inherit;
  }

  & &__topics-container {
    margin: 0px 16px 48px 16px;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 16px;
  }

  & &__topic-container {
    text-decoration: inherit;
    color: inherit;
    padding: 20px;
    background-color: pallete.get-color(secondary, background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & &__title {
    margin: 16px 0;
  }

  & &__topic-icon {
    width: 56px;
    height: 56px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & &__topic-icon--color-pink {
    @include mix.background-color-alpha($color-pink);
  }

  & &__topic-icon--color-blue {
    @include mix.background-color-alpha($color-blue);
  }

  & &__topic-icon--color-cyan {
    @include mix.background-color-alpha($color-cyan);
  }

  & &__topic-icon--color-yellow {
    @include mix.background-color-alpha($color-yellow);
  }

  & &__topics-container__topic-icon-img {
    width: 28px;
    height: 28px;
  }

  & &__topic-description {
    text-align: center;
    margin: 0;
    opacity: 0.5;
  }

  /* Extra small devices (phones) */
  @media only screen and (max-width: 833px) {
    & &__topic-container {
      border-radius: 16px;
    }
  }

  /* Medium devices (tablets) */
  @media only screen and (min-width: 834px) {
    width: 496px;

    & &__description-container {
      margin: 48px 0 8px 0;
    }

    & &__topics-container {
      margin: 0px 0 48px 0;
      grid-template-columns: auto auto;
    }

    & &__topic-container {
        border-radius: 24px;
        width: 240px;
        padding: 20px 17px 20px 14px;
    }
  }

  /* Large devices (laptops and desktops) */
  @media only screen and (min-width: 1200px) {
    width: 1136px;
    margin: 159px auto 48px auto;
    flex-direction: row;
    justify-content: space-between;

    & &__description-container {
      width: 467px;
      margin: 0;
    }

    & &__description-content {
      margin-top: 24px;
    }

    & &__topics-container {
      width: 558px;
      margin: 0 2px 0 0;
      column-gap: 24px;
      row-gap: 31px;
    }

    & &__topic-container {
      width: 268px;
      padding: 24px 16px;
    }

    & &__topic-icon {
      width: 64px;
      height: 64px;
      border-radius: 16px;
    }

    & &__topic-icon-img {
      width: 32px;
      height: 32px;
    }
  }

}
